@import url('https://fonts.googleapis.com/css?family=Pacifico');
page-login {
  ion-content {
    background: linear-gradient(#9664e6, #00BCD4);
    .bg-img-cont {
      width: 100%;
      height: 40%;
      overflow: hidden;
      .bg-img {
        margin: 0 auto;
        background: url('../assets/imgs/icon.png') no-repeat;
        background-size: contain;
        max-width: 500px;
        @media all and (orientation: landscape) {
          width: 22%;
        }
        width: 70%;
        height: 100%;
      }
    }

    .main-title {
      color: map-get($colors, light);
      font-family: 'Pacifico', cursive;
      font-size: 9rem;
    }
    .btn-ico {
      position: absolute;
      left: 15%;
    }
  }
}
