<ion-header #header>
  <ion-navbar no-border-bottom>
    <ion-grid>
      <ion-row>
        <ion-title>Menu.lk</ion-title>
        <app-cart-widget></app-cart-widget>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="image-holder" [style.background-image]="backgroundImage"></div>
  <div class="list-container" [style.height.px]="listContHeight">
      <div class="list-header">
          <h2>{{navParams.get('name')}}</h2>
          <div>
            <ion-note>
              <ion-icon name="star"></ion-icon>
              {{navParams.get('rating')}} | {{navParams.get('category')}}
              <ion-icon name="bulb"></ion-icon>
              {{navParams.get('takeaway') ? 'Takeaway' : 'Not takeaway'}}
            </ion-note>
          </div>
          <div>
            <ion-note>{{navParams.get('type')}}</ion-note>
          </div>
          <div>
              <ion-note><span>{{workingTime}}</span></ion-note>
          </div>
      </div>
      <div (scroll)="scrollHandler()" class="list-wrapper" [style.height.px]="listWrapHeight">
        <ion-list *ngFor="let menuType of resultSet">
            <ion-list-header>
              <h1>{{menuType.type}}</h1>
              <h3><i>{{menuType.subhead}}</i></h3>
            </ion-list-header>
            <ion-item #target *ngFor="let menuItem of menuType.items">
                <ion-thumbnail item-start (tap)="onSelect(menuItem, menuType)">
                        <!-- <span #imgContainer class="image-container font-hidden">-->
                          <!-- <img [src]="menuItem.imageUrl"> -->
                          <!-- <div class="mock-image-container">
                            <div class="mock">
                              <ion-icon name="image"></ion-icon>
                            </div>
                          </div>
                        </span>-->
                    <img-loader [src]="menuItem.imageURL || ''" [height]="80" [icon-hidden]="true" [target]="target"></img-loader>
                </ion-thumbnail>
                <div (tap)="onSelect(menuItem, menuType)">
                  <h2 text-capitalize>{{menuItem.name}}</h2>
                  <p><ion-note>{{menuItem.description}}</ion-note></p>
                  <ion-row>
                    <ion-col><ion-note><span>{{currency[menuItem.currency]}}.</span>&nbsp;<span>{{menuItem.price}}</span></ion-note></ion-col>
                    <ion-col>
                      <ion-note>{{menuItem.size}}</ion-note>
                    </ion-col>
                  </ion-row>
                </div>
                <button (click)="addToCart(menuItem, menuType)" [disabled]="!isCanOrder" ion-button clear item-end icon-left>Add<span>&nbsp;</span><ion-icon name="cart"></ion-icon></button>
            </ion-item>
        </ion-list>
      </div>
  </div>
  
</ion-content>
