page-cart {
  
  .sintetic-grid {
    @include create-flex-grid($justify-content: space-between);
    position: relative;

    .clicker {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1000;
    }
  }

  .delete-mode {
    overflow: hidden;
  }
  ion-item.item, [ion-item].item {
    height: 106px;
    .item-desc, .content-adjust {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .notes-layout, .label-wrapper {
      display: flex;
      .label-content {
        display: inherit;
        flex-flow: column nowrap;
        justify-content: center;
      }
      ion-avatar {
        align-self: center;
      }
      
      .item-desc, .content-adjust {
        width: calc(100vw - 150px);
      }
    }
  }
  .ion-grid-btn {
    transition: opacity .5s;
    bottom: 20px;
    .btn-quick-order {
      height: 50px;
      font-size: 2rem;
    }
    .btn {
      display: block;
      margin: 0 auto;
    }
  }

}
