<ion-header>

  <ion-navbar no-border-bottom>
    <ion-grid>
      <ion-row>
        <ion-title>Profile</ion-title>
        <app-cart-widget></app-cart-widget>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="avatar-container">
    <div class="avatar-wrapper">
      <img [style.opacity]="avatarLoaded ? 1 : 0" (load)="avatarLoaded = true" [src]="(authService.userInstance?.isAnonymous && 'assets/imgs/profile_anon.png') || authService.userInstance?.photoURL || AuthUserData.userProfileData?.userPhotoURL || 'assets/imgs/profile.png'">
      <ion-spinner [style.opacity]="avatarLoaded ? 0 : 1" name="crescent"></ion-spinner>
    </div>
    <div class="user-name" padding-horizontal text-center>
      <span>{{ (authService.userInstance?.isAnonymous && 'Mister X') || authService.userInstance?.displayName || '[No Name]' }}</span>
    </div>
  </div>
  <ion-list no-lines *ngIf="!authService.userInstance?.isAnonymous">
    <button #btn class="shadow-transition" ion-item detail-none *ngFor="let data of userTemplateData.slice(0, -1); index as i"
      (tap)="onFieldSelect($event, btn, i)">
      <ion-icon [name]="data.icon" color="primary" item-start></ion-icon>
      <p [style.font-weight]="600" class="list-header-h2" text-capitalize>{{ data.label }}</p>
      <p *ngIf="AuthUserData.userProfileData && AuthUserData.userProfileData[ data.mappedDbName ]">{{ AuthUserData.userProfileData[ data.mappedDbName ] }}</p>
      <ion-buttons [@opacity]="userSelectedFieldNumber == i" *ngIf="userSelectedFieldNumber == i" item-end>
        <button class="js-field-control js-edit" ion-button clear icon-only>
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
        <button *ngIf="AuthUserData.userProfileData && AuthUserData.userProfileData[ data.mappedDbName ]" class="js-field-control js-delete" ion-button clear icon-only>
          <ion-icon color="danger" name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </button>
    <ng-container *ngIf="AuthUserData.userData.providerData[0].providerId === 'password'">
      <button class="shadow-transition" ion-item detail-none (tap)="onUpdate('profile')">
        <ion-icon name="person-add" color="primary" item-start></ion-icon>
        <p class="list-header-h2">Update account profile</p>
      </button>
      <button class="shadow-transition" ion-item detail-none (tap)="onUpdate('email')">
        <ion-icon name="mail-open" color="primary" item-start></ion-icon>
        <p class="list-header-h2">Update account email</p>
      </button>
      <button class="shadow-transition" ion-item detail-none (tap)="onUpdate('password')">
        <ion-icon name="lock" color="primary" item-start></ion-icon>
        <p class="list-header-h2">Update account password</p>
      </button>
    </ng-container>
  </ion-list>
  <div class="btn-wrapper" padding>
    <button class="btn" ion-button (tap)="onSignOut()">{{ authService.userInstance?.isAnonymous ? 'sign in' : 'log out' }}</button>
    <button *ngIf="!authService.userInstance?.isAnonymous" class="btn" ion-button color="secondary" [navPush]="'HistoryOrdersPage'">orders dashboard</button>
  </div>

</ion-content>