
img-loader {
  $img-placeholder-background:         #eee !default;
  @include image-loader($font-size: 14rem, $height: 172px);
  display: inline-block;
  
  background: $img-placeholder-background;
  width: 100%;
  height: 172px;
  
  contain: strict;
  img {
    object-fit: cover;
    opacity: 0;
  }
}
