<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar 
    [animated]="true" 
    [showCancelButton]="true" 
    (ionInput)="onInput($event)" 
    (ionCancel)="currentItems = []"
    [(ngModel)]="model"
    placeholder="Type name of restaurant..."></ion-searchbar>
  <ion-list *ngIf="currentItems !== null; else NoContent">
    <button ion-item *ngFor="let item of currentItems" [navPush]="'MenuPage'" [navParams]="item">
      <ion-avatar item-start>
        <img [src]="item.imageURL">
      </ion-avatar>
      <h2 text-capitalize>{{item.name}}</h2>
      <p>{{item.category}}</p>
      <ion-note item-end>{{item.collection}}</ion-note>
    </button>
  </ion-list>
  <ng-template #NoContent>
    <ion-note padding>No items found ):</ion-note>
  </ng-template>
</ion-content>