page-app-tabs {
  overflow: hidden;
  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }
  .slide-title {
    margin-top: 2.8rem;
  }
  .columnaize {
    flex-flow: column
  }
  .new-user-widget {
    box-shadow: -4px 0px 20px 0px #4e4e4e;
  }
}
